<html>

<head>
  <meta charset="UTF-8">
  <title>Policy App</title>

  <link rel="stylesheet" href="innersource-onboarding-app/css/bootstrap.min.css">
  <script src="innersource-onboarding-app/js/jquery.js"></script>
  <script src="innersource-onboarding-app/js/bootstrap.min.js"></script>

</head>

<body>
  <script>
    window.addEventListener("load", function () {
      document.getElementById('_initA').style.color = 'Aqua';
    })
  </script>
  <div class="container">
    {{{header}}}

    <div id="init" class="jumbotron">
      <p>Innersource Onboarding App</p>
    </div>

    <div class="container">
      <h2>Well</h2>
      <div class="well">
        <form action="/action_page.php">
          <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox"> Remember me2</label>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>

    <br><br><br>
</body>

</html>