<html>

<head>
  <meta charset="UTF-8">
  <title>Policy App</title>

  <link rel="stylesheet" href="innersource-onboarding-app/css/bootstrap.min.css">
  <script src="innersource-onboarding-app/js/jquery.js"></script>
  <script src="innersource-onboarding-app/js/bootstrap.min.js"></script>

</head>

<body>
  <script>
    window.addEventListener("load", function () {
      document.getElementById('_initA').style.color = 'Aqua';
    })
  </script>
  <div class="container">
    {{{header}}}

    <div id="init" class="jumbotron">
      <p>Innersource Onboarding App</p>
    </div>
    <p>App Configuration</p>
    <br><br><br>
    </body>

</html>