<html>

<head>
  <meta charset="UTF-8">
  <title>Policy App</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>

</head>

<body>
  <script>
    window.addEventListener("load", function () {
      document.getElementById('_newRouteA').style.color = 'Aqua';
    })
  </script>
  <div class="container">
    {{{header}}}

    <div id="init" class="jumbotron">
      <p>New Route Title</p>
    </div>
    <br><br><br>
    </body>

</html>